.App {
  text-align: center;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#logo {
  height: 12rem;
  padding:0.5rem
}

#tagline {
  color: #3b5d7e;
  font-size: 3rem;
  padding:0;
  margin:0;
  margin-right: 10rem
}

#navBar {
  margin-right: 4rem
}

nav {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem
}

.navItem{
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #cccccc;
  border-radius: 2rem;
  color: #22435e
}

.navItem:hover{
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: double;
  border-color: #24344b;
  border-width: 0.2rem;
}

a {
  text-decoration: none;
  color: black
}

p {
  font-size: 1.2rem;
  line-height: 1.3rem
}

footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem
}

#emailPhoto{
  height:3rem
}

#flatirons {
  width:100%
}

.tableItem{
  display:flex;
  justify-content: center;
}

#headshot{
  width:50%
}

.practiceSection{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem
}

.practiceTitle {
  font-size: 2.3rem;
  color:#24344b
}

.moreInfoButton{
  width: 16rem;
  padding-left:0.8rem;
  padding-right:0.8rem;
  padding-top:0.2rem;
  padding-bottom:0.2rem;
  font-size: 1.2rem;
  background-color: #1bae91;
  color:white;
  border-radius: 1rem
}

#credentials{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem
}
